apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: next-app-router
  namespace: default
spec:
  hosts:
  - "*"
  gateways:
  - knative-serving/knative-ingress-gateway
  http:
  - match:
    - uri:
        prefix: /
    route:
    - destination:
        host: next-baseline.default.svc.cluster.local
